body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
nav{
    position: fixed; 
    width: 100%; 
    z-index: 1;
    top: 0;
}
nav ul{
    text-align: end;
    list-style-type: none;
    padding: 20px 0; 
    margin:0;
    background-color: black;
    width: 100%;
}
li{
    display: inline;
}
li a{
    text-decoration: none;
    padding: 20px;
    margin: 0 ;
    color: white;
}

section{
    height: 500px;
    width: 90%;
    margin-top: 100px;
}
.food-banner {
    margin-left: 2.5%;
    padding-left: 100px;
}
.food-banner-half{
    width: 45%;
    float: left;
}
.food-banner-half img{
    width: 80%;
}
.food-banner-half p{
    margin-bottom: 100px;
    color: gray;
}
h1{
    font-size: 50px;
}
h2 {
    font-weight: 900;
}
#skip{
    color: rgb(243, 159, 63);
}
.link{
    text-decoration: none;
    margin: 40px;
    padding: 15px 40px;
    border-radius: 30px;
    color: white;
    background: linear-gradient(rgb(226, 140, 12),rgb(209, 60, 14));
}
.about{
    background-image: url("images/7.png");
    width: 100%;
    background-repeat: no-repeat;
}
.about-half{
    width: 45%;
    float: left;
}
.about-half p{
    width: 70%;
    margin-left: 20px;
    margin-bottom: 100px;
}
.about-half img{
    padding-top: 20px;
    padding-left: 150px;
    width: 50%;
}
.about-half h1{
    margin-left: 20px;
    color: gray;
}

.my-recipies {
    margin-left: 5%;
    padding: 0px 30px 0px 30px;
}
.my-recipies-half {
    width: 23%;
    height: 83%;
    float: left;
    padding: 20px;
    margin: 0px 30px 0px 30px;
    border-radius: 30px;
    box-shadow: 5px 7px 20px gray;
}
.my-recipies-half img{
    border-radius: 30px;
    width: 100%;
    height: 250px;
}
.heading{
    text-align: center;
    margin: 0px 30px 0px 50px;
}
.heading h2{
    font-size: 35px;
    color: rgb(94, 88, 88);
}
.stat{
    border-radius: 20px;
    padding: 0px 20px;
    margin-left: 20%;
    width: 60%;
    display: flex;
    box-shadow: 1px 7px 20px gray;
}
.stat-item{
    padding-left: 12%;
    width: 33%;
}

footer {
    padding-top: 30px;
    padding-bottom: 90px;
    text-align: center;
    color: white;
    background-color: black;
}
footer h2{
    font-size: 30px;
}
#footer-food{
    color: rgb(233, 146, 15);
}
#footer-network{
    color: rgb(172, 167, 159);
}
